.blue {
    outline: 0;
    border: 0 none;
    background-color: transparent;
    vertical-align: middle;
    text-align: center;
    font-family: SourceHanSansSC-Medium;
    font-size: 14px;
    background: #007BD8;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background: #32A7FF;
    }
}

.return {
    outline: 0;
    border: 0 none;
    background-color: transparent;
    vertical-align: middle;
    text-align: center;
    font-family: SourceHanSansSC-Medium;
    font-size: 14px;
    background: #fff;
    border: 1px solid #007BD8;
    border-radius: 4px;
    cursor: pointer;
    color: #007BD8;
    &:hover {
        background: #E2F2FF;
    }
}

.cancel {
    outline: 0;
    border: 0 none;
    background-color: transparent;
    vertical-align: middle;
    border: 1px solid #1985D5;
    font-family: SourceHanSansSC-Medium;
    font-size: 14px;
    color: #1985D5;
    text-align: center;
    &:hover {
        background: #D9EFFF;
    }
}

.search-btn{
    outline: 0;
    border: 0 none;
    background-color: transparent;
    vertical-align: middle;
    text-align: center;
    font-family: SourceHanSansSC-Medium;
    font-size: 14px;
    background: #fff;
    border: 1px solid #007BD8;
    border-radius: 4px;
    cursor: pointer;
    color: #007BD8;
    &:hover {
        background: #E2F2FF;
    }
}