.content {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(/assets/images/login/login-bg.png) no-repeat;
  background-size: cover;
  .content-bd {
    width: 1365px;
    height: auto;
    margin: auto;
    position: relative;
  }
  .text {
    float: left;
    padding: 185px 0;

    p {
      margin: 0;
      padding: 0;
      font-family: SourceHanSansSC-Medium;
      font-size: 48px;
      color: #ffffff;
      letter-spacing: 0;
      line-height: 100px;
      margin-right: 170px;
    }
  }
}

.login-box {
  width: 525px;
  height: 504px;
  padding: 40px;
  position: absolute;
  right: 0;
  top: 45px;
  background: url(/assets/images/login-bg.png) 0 0 repeat;
  border: 10px solid rgba(255, 255, 255, .4);
  background-clip: padding-box;

  h5 {
    width: 100%;
    height: 80px;
    line-height: 32px;
    font-family: SourceHanSansSC-Medium;
    font-size: 32px;
    color: #2a2e31;
    font-weight: normal;
  }

  ul {
    padding: 0;
    margin: 0;
    padding-top: 50px;
    text-align: center;

    li {
      width: 50px;
      height: 50px;
      margin: 0 25px;
      display: inline-block;
      list-style: none;

      &.weixin {
        background: url(/assets/images/weixin.png) no-repeat;
        background-position: 0 0;

        &:hover {
          background-position: 0 -50px;
        }
      }

      &.sina {
        background: url(/assets/images/sina.png) no-repeat;
        background-position: 0 0;

        &:hover {
          background-position: 0 -50px;
        }
      }

      &.qq {
        background: url(/assets/images/qq.png) no-repeat;
        background-position: 0 0;

        &:hover {
          background-position: 0 -50px;
        }
      }
    }
  }
}

.login {
  div {
    position: relative;
    padding-bottom: 20px;
  }

  input {
    width: 425px;
    height: 60px;
    box-sizing: border-box;
    line-height: 60px;
    text-align: left;
    padding-right: 10px;
    padding-left: 60px;
    border: 1px solid #b8bac1;
    font-family: SourceHanSansSC-Medium;
    font-size: 18px;
    color: #2a2e31;

    &:focus {
      border: 1px solid #1985d5;
    }

    &::-webkit-input-placeholder {
      color: #b5bbbf;
      font-family: SourceHanSansSC-Medium;
      font-size: 18px;
    }

    &:-moz-placeholder {
      color: #b5bbbf;
      font-family: SourceHanSansSC-Medium;
      font-size: 18px;
    }

    &:-ms-input-placeholder {
      color: #b5bbbf;
      font-family: SourceHanSansSC-Medium;
      font-size: 18px;
    }

    &.ng-dirty.ng-invalid {
      border: 1px solid #ff6464;
    }
  }

  button {
    background: #1985d5;
    width: 425px;
    height: 60px;
    color: #fff;
    font-family: SourceHanSansSC-Medium;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    border: 0 none;
  }

  i {
    width: 60px;
    height: 60px;
    display: block;
    float: left;
    position: absolute;
  }

  .user-name {
    i {
      background: url(/assets/images/userNameBg.png) left 17px center no-repeat;
    }
  }

  .pass-word {
    i {
      background: url(/assets/images/passwordBg.png) left 17px center no-repeat;
    }
  }

  .btn-submit {
    padding-top: 20px;
  }

  .validcode {
    input {
      width: 184px;
      padding-left: 1.5em;
    }

    button {
      width: 220px;
      margin-left: 20px;
      vertical-align: top;
    }
  }
}

.bg {
  width: 100%;
  height: 100%;
  // background: url(/assets/images/bg.png) no-repeat;
  background-size: cover;
}

.login ::ng-deep {
  .error {
    width: 425px;
    height: 24px;
    line-height: 24px;
    font-family: SourceHanSansSC-Regular;
    font-size: 14px;
    color: #2a2e31;
    position: absolute;
    top: 86px;
    left: 40px;
  }
}
