<div
  class="search-stat-search statistic-search"
  [ngClass]="{
    'statistic-search-height':
      searchStatisticSearchParams.type == searchStatisticSearchType.YEAR
  }"
>
  <div class="item">
    <div class="itemL">{{ "statistic.typeSelection" | translate }}：</div>
    <div class="itemR">
      <p-selectButton
        [options]="types"
        styleClass="selectButton"
        [(ngModel)]="searchStatisticSearchParams.type"
        (ngModelChange)="typeChange.emit($event)"
      >
        <ng-template let-item pTemplate="selectedItem">
          <span title="{{ item.label | translate }}">{{
            item.label | translate
          }}</span>
        </ng-template>
        <ng-template let-item pTemplate="item">
          <span title="{{ item.label | translate }}">{{
            item.label | translate
          }}</span>
        </ng-template>
      </p-selectButton>
    </div>
  </div>
  <div
    class="item"
    *ngIf="searchStatisticSearchParams.type == searchStatisticSearchType.YEAR"
  >
    <div class="itemL">{{ "statistic.dateSelection" | translate }}：</div>
    <div class="itemR">
      <p-selectButton
        [options]="dates"
        styleClass="selectButton"
        [(ngModel)]="searchStatisticSearchParams.searchType"
        (ngModelChange)="selectButtonChange.emit($event)"
      >
        <ng-template let-item pTemplate="selectedItem">
          <span title="{{ item.label | translate }}">{{
            item.label | translate
          }}</span>
        </ng-template>
        <ng-template let-item pTemplate="item">
          <span title="{{ item.label | translate }}">{{
            item.label | translate
          }}</span>
        </ng-template>
      </p-selectButton>
    </div>
  </div>
  <div
    class="item"
    *ngIf="
      searchStatisticSearchParams.type == searchStatisticSearchType.YEAR &&
      searchStatisticSearchType.YEAR == searchStatisticSearchParams.searchType
    "
  >
    <div class="itemL">{{ "statistic.selectTime" | translate }}：</div>
    <div class="itemR calendar-dropdown">
      <p-dropdown
        [options]="startTimesList"
        [filter]="startTimesList && startTimesList.length > 15 ? true : false"
        [(ngModel)]="searchStatisticSearchParams.startTime"
        (ngModelChange)="handleStartTimeChange($event)"
      >
        <ng-template let-item pTemplate="selectedItem">
          <span title="{{ item.label | translate }}">{{
            item.label | translate
          }}</span>
        </ng-template>
        <ng-template let-item pTemplate="item">
          <span title="{{ item.label | translate }}">{{
            item.label | translate
          }}</span>
        </ng-template>
      </p-dropdown>
      <span class="line">-</span>
      <p-dropdown
        [options]="endTimesList"
        [filter]="endTimesList && endTimesList.length > 15 ? true : false"
        [(ngModel)]="searchStatisticSearchParams.endTime"
        (ngModelChange)="handleEndTimeChange($event)"
      >
        <ng-template let-item pTemplate="selectedItem">
          <span title="{{ item.label | translate }}">{{
            item.label | translate
          }}</span>
        </ng-template>
        <ng-template let-item pTemplate="item">
          <span title="{{ item.label | translate }}">{{
            item.label | translate
          }}</span>
        </ng-template>
      </p-dropdown>
    </div>
  </div>
  <div
    class="item"
    *ngIf="
      searchStatisticSearchParams.type == searchStatisticSearchType.YEAR &&
      searchStatisticSearchType.MONTH == searchStatisticSearchParams.searchType
    "
  >
    <div class="itemL">{{ "statistic.selectTime" | translate }}：</div>
    <div class="itemR calendar-dropdown">
      <p-dropdown
        [options]="timesList"
        [filter]="timesList && timesList.length > 15 ? true : false"
        [(ngModel)]="searchStatisticSearchParams.time"
      >
        <ng-template let-item pTemplate="selectedItem">
          <span title="{{ item.label | translate }}">{{
            item.label | translate
          }}</span>
        </ng-template>
        <ng-template let-item pTemplate="item">
          <span title="{{ item.label | translate }}">{{
            item.label | translate
          }}</span>
        </ng-template>
      </p-dropdown>
    </div>
  </div>
  <div
    class="item"
    *ngIf="
      searchStatisticSearchParams.type == searchStatisticSearchType.YEAR &&
      searchStatisticSearchType.DAY == searchStatisticSearchParams.searchType
    "
  >
    <div class="itemL">{{ "statistic.selectTime" | translate }}：</div>
    <div class="itemR">
      <app-calendar
        [calendarObj]="calendarObj"
        [(ngModel)]="searchStatisticSearchParams.time"
      ></app-calendar>
    </div>
  </div>
  <div
    class="item"
    *ngIf="searchStatisticSearchParams.type == searchStatisticSearchType.YEAR"
  >
    <div class="itemL">
      <button class="search-btn" (click)="handleSearchClick()">
        {{ "statistic.common.search" | translate }}
      </button>
    </div>
  </div>
</div>
