<div [class]="'login-box login-box' + lang">
  <form class="login clearfix" [isliFormValidMsg]="errorMsg">
    <dl>
      <dt><span>*</span>{{ "siteManager.common.langCode" | translate }}：</dt>
      <dd>
        <p-dropdown
          name="language"
          [(ngModel)]="info.langCode"
          [options]="langList"
          placeholder="{{ 'siteManager.common.pleasePlaceholder' | translate }}"
          [autoDisplayFirst]="false"
          required
        ></p-dropdown>
        <mpr-form-control-valid controlName="language"></mpr-form-control-valid>
      </dd>
    </dl>
    <dl>
      <dt>
        <span>*</span>{{ "siteManager.products.detail.title" | translate }}：
      </dt>
      <dd>
        <input
          required
          type="text"
          placeholder="{{
            'siteManager.products.detail.titlePlaceholder' | translate
          }}"
          name="title"
          [(ngModel)]="info.title"
          maxlength="100"
          pInputText
        />
        <mpr-form-control-valid controlName="title"></mpr-form-control-valid>
      </dd>
    </dl>
    <dl>
      <dt>
        <span>*</span
        >{{ "siteManager.products.detail.thumbnailUrl" | translate }}：
      </dt>
      <dd class="thumbnailUrl">
        <div class="upload-warp">
          <app-file-upload
            name="thumbnailUrl"
            url="/isli/irms/manage-provider/base/serviceProviderAccount/v1/registerFile"
            [ngModel]="info.thumbnailUrl"
            (ngModelChange)="handleThumbnailChange($event)"
            [maxFileSzie]="100 * 1024"
            [widthHeight]="[{ width: 363, height: 207, max: false }]"
            [all]="true"
            required
          ></app-file-upload>
          <mpr-form-control-valid
            controlName="thumbnailUrl"
          ></mpr-form-control-valid>
        </div>
        <div class="thumbnailUrl-tip">
          {{ "siteManager.common.thumbnailUrlTip" | translate }}
        </div>
      </dd>
    </dl>
    <dl>
      <dt>
        <span>*</span
        >{{ "siteManager.products.detail.applicationField" | translate }}：
      </dt>
      <dd>
        <input
          required
          type="text"
          placeholder="{{
            'siteManager.products.detail.applicationFieldPlaceholder'
              | translate
          }}"
          name="applicationField"
          [(ngModel)]="info.applicationField"
          maxlength="50"
          pInputText
        />
        <mpr-form-control-valid
          controlName="applicationField"
        ></mpr-form-control-valid>
      </dd>
    </dl>
    <dl>
      <dt>
        <span>*</span
        >{{
          "siteManager.products.detail.applicationServicePlan" | translate
        }}：
      </dt>
      <dd>
        <input
          required
          type="text"
          placeholder="{{
            'siteManager.products.detail.applicationServicePlanPlaceholder'
              | translate
          }}"
          name="applicationServicePlan"
          [(ngModel)]="info.applicationServicePlan"
          maxlength="100"
          pInputText
        />
        <mpr-form-control-valid
          controlName="applicationServicePlan"
        ></mpr-form-control-valid>
      </dd>
    </dl>
    <dl>
      <dt>
        <span>*</span
        >{{
          "siteManager.products.detail.applicationServiceDescription"
            | translate
        }}：
      </dt>
      <dd class="textarea">
        <textarea
          required
          type="text"
          placeholder="{{
            'siteManager.products.detail.applicationServiceDescPlaceholder'
              | translate
          }}"
          name="applicationServiceDescription"
          [(ngModel)]="info.applicationServiceDescription"
          maxlength="200"
          pInputText
        ></textarea>
        <mpr-form-control-valid
          controlName="applicationServiceDescription"
        ></mpr-form-control-valid>
      </dd>
    </dl>
    <!-- <dl>
      <dt>
        <span>*</span
        >{{ "siteManager.products.detail.createTime" | translate }}：
      </dt>
      <dd>
        <app-calendar
          name="createTime"
          [(ngModel)]="info.createTime"
          required
        ></app-calendar>
        <mpr-form-control-valid
          controlName="createTime"
        ></mpr-form-control-valid>
      </dd>
    </dl> -->
    <dl>
      <dt>
        <span>*</span>{{ "siteManager.products.detail.sort" | translate }}：
      </dt>
      <dd>
        <input
          required
          type="text "
          name="sort"
          [(ngModel)]="info.sort"
          maxlength="1"
          pInputText
          appInputNumber
        />
        <mpr-form-control-valid controlName="sort"></mpr-form-control-valid>
      </dd>
    </dl>
    <dl>
      <dt>
        <span>*</span
        >{{ "siteManager.products.detail.sppStatus" | translate }}：
      </dt>
      <dd>
        <p-radioButton
          name="sppStatus"
          value="0"
          label="{{ 'siteManager.common.show' | translate }}"
          [(ngModel)]="info.sppStatus"
        ></p-radioButton>
        <p-radioButton
          name="sppStatus"
          value="1"
          label="{{ 'siteManager.common.hide' | translate }}"
          [(ngModel)]="info.sppStatus"
        ></p-radioButton>
      </dd>
    </dl>
    <dl>
      <dt>
        <span>*</span>{{ "siteManager.products.detail.content" | translate }}：
      </dt>
      <dd class="ueditor" ngModelGroup="ueditor">
        <p-tabView>
          <p-tabPanel
            header="{{
              'siteManager.products.detail.companyContent' | translate
            }}"
          >
            <div class="ueditor">
              <ueditor
                [(ngModel)]="info.companyContent"
                name="companyContent"
                [config]="config"
                required
              ></ueditor>
            </div>
          </p-tabPanel>
          <p-tabPanel
            header="{{
              'siteManager.products.detail.productContent' | translate
            }}"
          >
            <div class="ueditor">
              <ueditor
                [(ngModel)]="info.content"
                name="content"
                [config]="config"
                required
              ></ueditor>
            </div>
          </p-tabPanel>
          <p-tabPanel
            header="{{
              'siteManager.products.detail.spplicationExampleContent'
                | translate
            }}"
          >
            <div class="ueditor">
              <ueditor
                [(ngModel)]="info.spplicationExampleContent"
                name="spplicationExampleContent"
                [config]="config"
                required
              ></ueditor>
            </div>
          </p-tabPanel>
        </p-tabView>
        <mpr-form-control-valid controlName="ueditor"></mpr-form-control-valid>
      </dd>
    </dl>
    <dl>
      <dt>{{ "siteManager.common.uploadAffix" | translate }}：</dt>
      <dd>
        <app-upload-affix
          [(ngModel)]="filePaths"
          name="filePaths"
        ></app-upload-affix>
      </dd>
    </dl>
    <dl>
      <dt>&nbsp;</dt>
      <dd class="btn-group">
        <button (click)="handleCommit()">
          {{ "siteManager.common.commit" | translate }}
        </button>
        <button (click)="handleCancle()">
          {{ "siteManager.common.cancle" | translate }}
        </button>
      </dd>
    </dl>
  </form>
</div>
