.dialog-box {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba($color: #fff, $alpha: 0);
    left: 0;
    top: 0;
    z-index: 999;
    .dialog {
        width: 440px;
        min-height: 320px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: #FFFFFF;
        border: 1px solid #E0E1E8;
        box-shadow: 0 8px 18px 0 rgba(50,82,106,0.10);
      .dialog-title {
        background: #007BD8;
        h5 {
            height: 40px;
            line-height: 40px;
            padding-left: 13px;
            font-family: SourceHanSansSC-Medium;
            font-size: 14px;
            color: #FFFFFF;
            font-weight: normal;
        }
        a {
            position: absolute;
            right: 13px;
            top: 12px;
            width: 16px;
            height: 16px;
            cursor: pointer;
            background: url(/assets/images/close.png) no-repeat;
            background-position: 0 0;
            &:hover {
                background-position: 0 -16px;
            }
        }
      }
      .dialog-content {
        margin: 20px 0;
        overflow: hidden;
        .item{
            padding: 0 20px;
            clear: both;
            overflow: hidden;
            .itemL{
                float: left;
                font-family: SourceHanSansSC-Regular;
                font-size: 14px;
                color: #354754;
                letter-spacing: 0;
                width: 70px;
                text-align: right;
            }
            .itemR{
                float: left;
                width: 328px;
                position: relative;
            }
        }
      }
      .dialog-footer {
        clear: both;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        button {
            width: 120px;
            height: 32px;
            cursor: pointer;
            &:nth-of-type(1){
                margin-right: 20px;
            }
        }
    }
  }
}

::ng-deep{
    body .service-push .ui-inputtext{
        width: 100%;
    }
    body .service-push .ui-listbox .ui-listbox-header{
        display: none;
    }
    .service-push .ui-listbox .ui-listbox-header .ui-listbox-filter-container{
        width: 100%;
    }
    .service-push .ui-listbox .ui-listbox-list .ui-listbox-item .ui-chkbox,
    .service-push .ui-listbox .ui-chkbox{
        display: none;
    }
}