<div class="content-container">
  <div class="header">
    <p class="title">{{ "index.changePassword.title" | translate }}</p>
  </div>
  <div class="user">
    <div
      class="user-warp"
      ngForm
      [ngFormOptions]="{ updateOn: 'blur' }"
      [isliFormValidMsg]="errMsg"
    >
      <p>
        <!-- <label>原密码：</label> -->
        <span class="info-warp">
          <input
            type="password"
            pInputText
            required
            minlength="6"
            name="oldPassword"
            [(ngModel)]="oldPassword"
            placeholder="{{
              'index.changePassword.valid.currentPassword' | translate
            }}"
            appTrim
          />
          <mpr-form-control-valid></mpr-form-control-valid>
        </span>
      </p>
      <p>
        <!-- <label>新密码：</label> -->
        <span class="info-warp">
          <input
            type="password"
            #newPwd
            pInputText
            required
            minlength="6"
            maxlength="20"
            name="newPassword"
            [(ngModel)]="newPassword"
            appPwdFormat
            placeholder="{{
              'index.changePassword.valid.newPassword' | translate
            }}"
            appTrim
          />
          <mpr-form-control-valid></mpr-form-control-valid>
          <span class="item warn">
            {{ "index.changePassword.newPasswordTip" | translate }}
          </span>
        </span>
      </p>
      <p>
        <!-- <label>确认新密码：</label> -->
        <span class="info-warp">
          <input
            type="password"
            pInputText
            required
            #newPwdEq
            minlength="6"
            maxlength="20"
            name="confirmPwd"
            [(ngModel)]="confirmPwd"
            [appEq]="newPassword"
            [eqControl]="newPwdControl"
            placeholder="{{
              'index.changePassword.valid.confirmPassword' | translate
            }}"
            appTrim
          />
          <mpr-form-control-valid></mpr-form-control-valid>
        </span>
      </p>
      <p class="submit">
        <button
          pButton
          label="{{ 'index.btn.sure' | translate }}"
          (click)="handleSubmit()"
        ></button>
        <button
          pButton
          label="{{ 'index.btn.back' | translate }}"
          (click)="handleCancel()"
        ></button>
      </p>
    </div>
  </div>
</div>
