.user {
  padding-top: 30px;
  text-align: center;
  .user-warp {
    display: inline-block;
    text-align: left;
    line-height: normal;
    width: 360px;
  }
  p {
    min-height: 55px;
  }
  span.info-warp {
    position: relative;
    display: inline-block;
    word-break: break-all;

    vertical-align: middle;
    font-size: 14px;
    color: #354754;
    line-height: normal;
    .item {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      &.warn {
        color: #9ea6ac;
        font-size: 12px;
        position: absolute;
        top: 4px;
        margin-left: 10px;
        min-width: 320px;
        padding: 0;
      }
    }

    ::ng-deep .ui-inputtext {
      width: 350px;
    }
  }
  .required {
    color: #eb4d4d;
  }

  .submit {
    margin-top: 15px;
    text-align: center;
    button {
      margin-right: 20px;
      width: 120px;
    }
    .tip-warn {
      color: #9ea6ac;
      font-size: 12px;
    }
  }
}
