<div>
  <div class="search-title">
    <span>{{ "siteManager.examples.list.search.title" | translate }}</span>
    <button (click)="handleAddClick()">
      {{ "siteManager.examples.list.search.create" | translate }}
    </button>
  </div>
  <div [class]="'search search-content' + lang">
    <dl>
      <dt>
        {{
          "siteManager.examples.list.search.applicationExampleStatus"
            | translate
        }}：
      </dt>
      <dd>
        <p-dropdown
          name="applicationExampleStatus"
          [options]="applicationExampleStatusList"
          [(ngModel)]="appExampleSearch.applicationExampleStatus"
          [autoDisplayFirst]="false"
          placeholder="{{ 'siteManager.common.all' | translate }}"
        >
          <ng-template let-item pTemplate="selectedItem">
            <span title="{{ item.label | translate }}">{{
              item.label | translate
            }}</span>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <span title="{{ item.label | translate }}">{{
              item.label | translate
            }}</span>
          </ng-template>
        </p-dropdown>
      </dd>
    </dl>
    <dl>
      <dt>
        {{ "siteManager.examples.list.search.examplesTitle" | translate }}：
      </dt>
      <dd>
        <input
          pInputText
          appTrim
          [(ngModel)]="appExampleSearch.title"
          placeholder="{{
            'siteManager.examples.list.search.titlePlaceholder' | translate
          }}"
        />
      </dd>
    </dl>
    <dl>
      <dt class="minw42">{{ "siteManager.common.langCode" | translate }}：</dt>
      <dd>
        <p-dropdown
          name="langCode"
          [options]="langList"
          [(ngModel)]="appExampleSearch.langCode"
          [autoDisplayFirst]="false"
          placeholder="{{ 'siteManager.common.all' | translate }}"
        >
        </p-dropdown>
      </dd>
    </dl>
    <dl class="time">
      <dt>{{ "siteManager.examples.list.search.searchDate" | translate }}：</dt>
      <dd>
        <app-begin-end-date
          [(ngModel)]="searchDate"
          (ngModelChange)="handleDateChange($event)"
        ></app-begin-end-date>
      </dd>
    </dl>
    <dl>
      <dt>
        <button (click)="handleSearch()">
          {{ "siteManager.common.search" | translate }}
        </button>
      </dt>
    </dl>
  </div>
  <div class="table">
    <p-table [value]="appExampleListData">
      <ng-template pTemplate="header">
        <tr>
          <th width="10%">
            {{ "siteManager.examples.list.table.no" | translate }}
          </th>
          <th width="15%">
            {{ "siteManager.examples.list.table.title" | translate }}
          </th>
          <th width="10%">{{ "siteManager.common.langCode" | translate }}</th>
          <th width="10%">
            {{ "siteManager.examples.list.table.sort" | translate }}
          </th>
          <th>
            {{ "siteManager.examples.list.table.updateTime" | translate }}
          </th>
          <th width="10%">
            {{ "siteManager.examples.list.table.editor" | translate }}
          </th>
          <th width="10%">
            {{
              "siteManager.examples.list.table.applicationExampleStatus"
                | translate
            }}
          </th>
          <th width="15%">
            {{ "siteManager.examples.list.table.operat" | translate }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
        <tr>
          <td>
            {{ (pageInfo.page - 1) * pageInfo.rows + rowIndex + 1 }}
          </td>
          <td title="{{ rowData.title }}">
            {{ rowData.title }}
          </td>
          <td title="{{ rowData.langDesc }}">
            {{ rowData.langDesc }}
          </td>
          <td>
            <input
              #sort
              type="text"
              value="{{ rowData.sort }}"
              maxlength="1"
              appPatternInput="^\d+$"
              (blur)="handleSort(rowData.id, sort.value, rowData.sort)"
            />
          </td>
          <td title="{{ rowData.updateTime | date: 'yyyy-MM-dd' }}">
            {{ rowData.updateTime | date: "yyyy-MM-dd" }}
          </td>
          <td title="{{ rowData.editor }}">
            {{ rowData.editor }}
          </td>
          <td
            [ngClass]="{
              blue: rowData.applicationExampleStatus == 0,
              green: rowData.applicationExampleStatus == 1
            }"
            title="{{ rowData.applicationExampleStatus | showHideTrans: 1 }}"
          >
            {{ rowData.applicationExampleStatus | showHideTrans: 1 }}
          </td>
          <td class="operation">
            <a
              [ngClass]="{
                exhibition: rowData.applicationExampleStatus == 1,
                conceal: rowData.applicationExampleStatus == 0
              }"
              title="{{ rowData.applicationExampleStatus | showHideTrans }}"
              (click)="
                handlehideOrShow(rowData.id, rowData.applicationExampleStatus)
              "
            ></a>
            <a
              class="modify"
              title="{{ 'siteManager.common.modify' | translate }}"
              (click)="handleModifyClick(rowData)"
            ></a>
            <a
              class="delete"
              title="{{ 'siteManager.common.delete' | translate }}"
              (click)="handleDeleteClick(rowData.id)"
            ></a>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <app-paging-box
      *ngIf="pageInfo.totalRecords"
      [pagingBoxObj]="pageInfo"
      (OnPageChange)="handlePageChange($event)"
    >
    </app-paging-box>
    <app-loaing-data [data]="appExampleListData"></app-loaing-data>
  </div>
</div>
<app-shared-dialog
  *ngIf="dialogOnOff"
  cancelTxt="{{ 'siteManager.common.cancle' | translate }}"
  [validFunc]="validFunc"
  (OnCancelClick)="handleCancelDialogClick()"
>
  <div>{{ "siteManager.common.cancelContent" | translate }}</div>
</app-shared-dialog>

<app-shared-dialog
  *ngIf="sortOnOff"
  (OnCancelClick)="handleCancelDialogClick()"
>
  <div>{{ "siteManager.common.sortTips" | translate }}</div>
</app-shared-dialog>
