<div
  class="servicecode-stat-search statistic-search"
  [ngClass]="{
    'statistic-search-height': serviceCodeSearchParams.dataType == dataType.TIME
  }"
>
  <div class="item">
    <div class="itemL">{{ "statistic.typeSelection" | translate }}：</div>
    <div class="itemR">
      <p-selectButton
        [options]="types"
        styleClass="selectButton"
        [(ngModel)]="serviceCodeSearchParams.dataType"
        (ngModelChange)="handleTypeChange($event)"
      ></p-selectButton>
    </div>
  </div>
  <div class="item" *ngIf="serviceCodeSearchParams.dataType == dataType.TIME">
    <div class="itemL">{{ "statistic.selectSpUser" | translate }}：</div>
    <div class="itemR">
      <p-dropdown
        [options]="spUserList"
        [filter]="spUserList && spUserList.length > 15 ? true : false"
        [autoDisplayFirst]="false"
        placeholder="{{ 'statistic.common.all' | translate }}"
        [(ngModel)]="serviceCodeSearchParams.spEmail"
      >
        <ng-template let-item pTemplate="selectedItem">
          <span title="{{ item.label | translate }}">{{
            item.label | translate
          }}</span>
        </ng-template>
        <ng-template let-item pTemplate="item">
          <span title="{{ item.label | translate }}">{{
            item.label | translate
          }}</span>
        </ng-template>
      </p-dropdown>
    </div>
  </div>
  <div class="item" *ngIf="serviceCodeSearchParams.dataType == dataType.TIME">
    <div class="itemL">{{ "statistic.selectTime" | translate }}：</div>
    <div class="itemR calendar-dropdown">
      <p-dropdown
        [options]="startTimesList"
        [filter]="startTimesList && startTimesList.length > 15 ? true : false"
        [(ngModel)]="serviceCodeSearchParams.startTime"
        (ngModelChange)="handleStartTimeChange($event)"
      >
        <ng-template let-item pTemplate="selectedItem">
          <span title="{{ item.label | translate }}">{{
            item.label | translate
          }}</span>
        </ng-template>
        <ng-template let-item pTemplate="item">
          <span title="{{ item.label | translate }}">{{
            item.label | translate
          }}</span>
        </ng-template>
      </p-dropdown>
      <span class="line">-</span>
      <p-dropdown
        [options]="endTimesList"
        [filter]="endTimesList && endTimesList.length > 15 ? true : false"
        [(ngModel)]="serviceCodeSearchParams.endTime"
        (ngModelChange)="handleEndTimeChange($event)"
      >
        <ng-template let-item pTemplate="selectedItem">
          <span title="{{ item.label | translate }}">{{
            item.label | translate
          }}</span>
        </ng-template>
        <ng-template let-item pTemplate="item">
          <span title="{{ item.label | translate }}">{{
            item.label | translate
          }}</span>
        </ng-template>
      </p-dropdown>
    </div>
  </div>
  <div class="item" *ngIf="serviceCodeSearchParams.dataType == dataType.TIME">
    <div class="itemL">
      <button class="search-btn" (click)="handleSearchClick()">
        {{ "statistic.common.search" | translate }}
      </button>
    </div>
  </div>
</div>
