.page {
    width: 100%;
    font-family: SourceHanSansSC-Regular;
    font-size: 13px;
}

a {
    color: #9EA6AC;
    min-width: 26px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 2px;
    background: rgba(255,255,255,0.85);
    box-shadow: 0 2px 4px 0 rgba(50,82,106,0.05);
}

li {
    float: left;
    margin-left: 5px;
    list-style-type: none;
}

li,
input,
a {
    display: inline-block;
}

input {
    padding: 0 5px;
    width: 33px;
    height: 20px;
    line-height: 20px;
    position: relative;
    top: -2px;
    text-align: center;
}

.paging-box {
    padding: 20px 0 30px 0;
    box-sizing: border-box;
    /* background: #fff; */
    /* width: 100%;
    justify-content: flex-end;
    display: flex; */
    float: right;
}

.paging-box-page a {
    background: rgba(255,255,255,0.85);
    box-shadow: 0 2px 4px 0 rgba(50,82,106,0.05);
}

.paging-box-page a.active {
    color: #fff;
    background: #007BD8;
    box-shadow: 0 2px 4px 0 rgba(50,82,106,0.05);
}

.paging-box-pre a:hover,
.paging-box-next a:hover {
    background: #007BD8;
    box-shadow: 0 2px 4px 0 rgba(50,82,106,0.05);
}

.paging-box-pre-default span,
.paging-box-next-default span {
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.paging-box-pre span {
    border-right: 5px solid #9EA6AC;
}

.paging-box-pre a:hover span {
    border-right: 5px solid #fff;
}

.paging-box-next span {
    border-left: 5px solid #9EA6AC;
}

.paging-box-next a:hover span {
    border-left: 5px solid #fff;
}

.paging-box-pre-disabled a,
.paging-box-next-disabled a {
    background: #D5D5D5;
    box-shadow: 0 2px 4px 0 rgba(50,82,106,0.05);
}

.paging-box-pre-disabled a span {
    border-right: 5px solid #AAA;
}

.paging-box-next-disabled a span {
    border-left: 5px solid #AAA;
}

.paging-box-btn span {
    color: #9EA6AC;
    height: 27px;
    line-height: 27px;
    display: inline-block;
}

.paging-box-btn button {
    width: 40px;
    height: 27px;
    line-height: 27px;
    font-size: 12px;
}

li.paging-box-page a.active,
li.paging-box-page a:hover {
    background: #007BD8;
    box-shadow: 0 2px 4px 0 rgba(50,82,106,0.05);
    color: #fff;
}

li.paging-box-pre a:hover,
li.paging-box-next a:hover {
    background: #007BD8;
    box-shadow: 0 2px 4px 0 rgba(50,82,106,0.05);
}

li.paging-box-pre-default span,
li.paging-box-next-default span {
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

li.paging-box-pre span {
    border-right: 5px solid #888;
}

li.paging-box-pre a:hover span {
    border-right: 5px solid #fff;
}

li.paging-box-next span {
    border-left: 5px solid #888;
}

li.paging-box-next a:hover span {
    border-left: 5px solid #fff;
}

li.paging-box-pre-disabled a,
.paging-box-next-disabled a {
    background: #D5D5D5;
    box-shadow: 0 2px 4px 0 rgba(50,82,106,0.05);
    cursor: not-allowed;
}

li.paging-box-pre-disabled a span {
    border-right: 5px solid #AAA;
}

li.paging-box-next-disabled a span {
    border-left: 5px solid #AAA;
}

li.paging-box-btn input {
    padding: 0;
    width: 33px;
    height: 26px;
    line-height: 26px;
    position: relative;
    top: 0;
    text-align: center;
    background: rgba(255,255,255,0.85);
    box-shadow: 0 2px 4px 0 rgba(50,82,106,0.05);
    color: #354754;
    border: none;
}

li.paging-box-btn input:hover {
    /* border: none;
    color: #fff;
    background: #007BD8;
    box-shadow: 0 2px 4px 0 rgba(50,82,106,0.05); */
}

li.paging-box-btn span {
    color: #9EA6AC;
    height: 27px;
    line-height: 27px;
    display: inline-block;
}

li.paging-box-btn a {
    min-width: 40px;
    width: 43px;
    height: 27px;
    line-height: 27px;
    font-size: 12px;
    padding: 0;
    color: #9EA6AC;
    box-sizing: border-box;
    margin-left: 10px;
}

li.paging-box-btn a.btn-select:hover {
    color: #fff;
    background: #007BD8;
    box-shadow: 0 2px 4px 0 rgba(50,82,106,0.05);
}

li.paging-box-btn a:hover{ 
    color: #fff;
    background: #007BD8;
    box-shadow: 0 2px 4px 0 rgba(50,82,106,0.05);
}

li.paging-box-page-index-total a {
    min-width: 24px;
}

li.paging-box-page-ellipsis a {
    color: #9EA6AC;
    width: 24px;
    height: 26px;
    line-height: 26px;
    border: none;
}