.header {
  // height: 80px;
  // padding: 12px 270px;
  // overflow: hidden;
  height: 80px;
  padding: 12px 0;
  overflow: hidden;
  width: 1365px;
  margin: 0 auto;

  .head-box {
    height: 100%;
    margin: 0 auto;

    .left {
      float: left;
      line-height: 56px;
      cursor: pointer;
      img {
        width: 98px;
        height: 56px;
        display: block;
        float: left;
      }

      .lg-title {
        display: block;
        float: left;
        padding-left: 10px;
        font-size: 22px;
        font-family: SourceHanSansSC-Bold;
        font-size: 22px;
        color: #677d8d;
        letter-spacing: 0;
      }
    }

    .right {
      float: right;
      height: 56px;
      padding: 18px 0;

      .user {
        display: inline-block;
        margin-left: 50px;
        span {
          font-size: 14px;
          color: #354754;
          padding-right: 15px;
        }

        .quit {
          display: inline-block;
          width: 20px;
          height: 20px;
          cursor: pointer;
          vertical-align: bottom;
          padding: 0;
          background: url(/assets/images/logout.png) left center no-repeat;

          &:hover {
            background: url(/assets/images/logout-hover.png) left center no-repeat;
            background-position: 0 0;
          }
        }
      }

      .language {
        font-size: 0;
        display: inline-block;

        span {
          display: inline-block;
        }

        .item {
          font-size: 14px;
          opacity: 0.5;
          letter-spacing: 0;
          line-height: 20px;

          &.active {
            color: #354754;
            opacity: 1;
          }

          &.grap {
            padding: 0 5px;
            opacity: 1;
          }
        }
      }
    }
  }
}
