.bd-search {
  label {
    text-align: right;
    width: 70px;
  }
  label,
  span {
    display: inline-block;
  }
  .wid-130 {
    width: 130px;
  }
}

::ng-deep {
  .date-wrap .p-grid {
    width: 430px;
  }
  .right-bd .content-container .item .item-bd .date-wrap .ui-inputtext {
    width: 200px;
  }
}
