<div>
  <div class="search-title">
    <span>網站資訊管理</span>
  </div>
  <form class="table" [isliFormValidMsg]="errorMsg">
    <div *ngIf="languageEnable('EN_US')">
      <h1>English</h1>
      <h2>Friendship link management</h2>
      <p-table [value]="linksEn">
        <ng-template pTemplate="header">
          <tr>
            <th width="10%">No.</th>
            <th width="30%">Description</th>
            <th>Link/Address</th>
            <th width="20%" *ngIf="readonly">Operation Time</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
          <tr>
            <td>{{ rowIndex + 1 }}</td>
            <td [title]="item.contactKey">
              <input
                #contactKey
                type="text"
                pInputText
                maxlength="250"
                [value]="item.contactKey"
                [readonly]="readonly"
                (keyup)="
                  handleContactKey(item.contactId, contactKey.value, 'linksEn')
                "
                appTrim
              />
            </td>
            <td [title]="item.contactValue">
              <input
                #contactValue
                type="text"
                maxlength="250"
                [name]="'linksEn[' + rowIndex + ']'"
                [(ngModel)]="linksEn[rowIndex].contactValue"
                [readonly]="readonly"
                pattern="{{ regText }}"
                appTrim
                pInputText
                (keyup)="
                  handleContactValue(
                    item.contactId,
                    contactValue.value,
                    'linksEn'
                  )
                "
              />
              <mpr-form-control-valid
                [controlName]="'linksEn[' + rowIndex + ']'"
              ></mpr-form-control-valid>
            </td>
            <td *ngIf="readonly">
              {{ item.updateDatetime | date: "yyyy-MM-dd  HH:mm:ss" }}
            </td>
          </tr>
        </ng-template>
      </p-table>
      <app-loaing-data [data]="linksEn"></app-loaing-data>
      <h2>Website copyright information management</h2>
      <p-table [value]="copyrightsEn">
        <ng-template pTemplate="header">
          <tr>
            <th width="10%">No.</th>
            <th width="30%">Description</th>
            <th>Link/Address</th>
            <th width="20%" *ngIf="readonly">Operation Time</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
          <tr>
            <td>{{ rowIndex + 1 }}</td>
            <td [title]="item.contactKey">
              <input
                #contactKey
                type="text"
                pInputText
                maxlength="250"
                [value]="item.contactKey"
                [readonly]="readonly"
                (keyup)="
                  handleContactKey(
                    item.contactId,
                    contactKey.value,
                    'copyrightsEn'
                  )
                "
                appTrim
              />
            </td>
            <td [title]="item.contactValue">
              <input
                #contactValue
                type="text"
                maxlength="250"
                [name]="'copyrightsEn[' + rowIndex + ']'"
                [(ngModel)]="copyrightsEn[rowIndex].contactValue"
                [readonly]="readonly"
                pattern="{{ regText }}"
                appTrim
                pInputText
                (keyup)="
                  handleContactValue(
                    item.contactId,
                    contactValue.value,
                    'copyrightsEn'
                  )
                "
              />
              <mpr-form-control-valid
                [controlName]="'copyrightsEn[' + rowIndex + ']'"
              ></mpr-form-control-valid>
            </td>
            <td *ngIf="readonly">
              {{ item.updateDatetime | date: "yyyy-MM-dd  HH:mm:ss" }}
            </td>
          </tr>
        </ng-template>
      </p-table>
      <app-loaing-data [data]="copyrightsEn"></app-loaing-data>
    </div>
    <div *ngIf="languageEnable('ZH_TW')">
      <h1>中文繁体</h1>
      <h2>友情鏈接管理</h2>
      <p-table [value]="links">
        <ng-template pTemplate="header">
          <tr>
            <th width="10%">序號</th>
            <th width="30%">描述</th>
            <th>連結/地址</th>
            <th width="20%" *ngIf="readonly">操作时间</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
          <tr>
            <td>{{ rowIndex + 1 }}</td>
            <td [title]="item.contactKey">
              <input
                #contactKey
                type="text"
                maxlength="250"
                [value]="item.contactKey"
                [readonly]="readonly"
                appTrim
                pInputText
                (keyup)="
                  handleContactKey(item.contactId, contactKey.value, 'links')
                "
              />
            </td>
            <td [title]="item.contactValue">
              <input
                #contactValue
                type="text"
                maxlength="250"
                [name]="'links[' + rowIndex + ']'"
                [(ngModel)]="links[rowIndex].contactValue"
                [readonly]="readonly"
                pattern="{{ regText }}"
                appTrim
                pInputText
                (keyup)="
                  handleContactValue(
                    item.contactId,
                    contactValue.value,
                    'links'
                  )
                "
              />
              <mpr-form-control-valid
                [controlName]="'links[' + rowIndex + ']'"
              ></mpr-form-control-valid>
            </td>
            <td *ngIf="readonly">
              {{ item.updateDatetime | date: "yyyy-MM-dd  HH:mm:ss" }}
            </td>
          </tr>
        </ng-template>
      </p-table>
      <app-loaing-data [data]="links"></app-loaing-data>
      <h2>網站版權信息管理</h2>
      <p-table [value]="copyrights">
        <ng-template pTemplate="header">
          <tr>
            <th width="10%">序號</th>
            <th width="30%">描述</th>
            <th>連結/地址</th>
            <th width="20%" *ngIf="readonly">操作时间</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
          <tr>
            <td>{{ rowIndex + 1 }}</td>
            <td [title]="item.contactKey">
              <input
                #contactKey
                type="text"
                pInputText
                maxlength="250"
                [value]="item.contactKey"
                [readonly]="readonly"
                (keyup)="
                  handleContactKey(
                    item.contactId,
                    contactKey.value,
                    'copyrights'
                  )
                "
                appTrim
              />
            </td>
            <td [title]="item.contactValue">
              <input
                #contactValue
                type="text"
                pInputText
                maxlength="250"
                [name]="'copyrights[' + rowIndex + ']'"
                [(ngModel)]="copyrights[rowIndex].contactValue"
                [readonly]="readonly"
                pattern="{{ regText }}"
                appTrim
                pInputText
                (keyup)="
                  handleContactValue(
                    item.contactId,
                    contactValue.value,
                    'copyrights'
                  )
                "
              />
              <mpr-form-control-valid
                [controlName]="'copyrights[' + rowIndex + ']'"
              ></mpr-form-control-valid>
            </td>
            <td *ngIf="readonly">
              {{ item.updateDatetime | date: "yyyy-MM-dd HH:mm:ss" }}
            </td>
          </tr>
        </ng-template>
      </p-table>
      <app-loaing-data [data]="copyrights"></app-loaing-data>
    </div>
    <div class="btn">
      <button *ngIf="!readonly" (click)="handleSave()">
        {{ "siteManager.common.save" | translate }}
      </button>
      <button appPermission="WS.WZ.XG" *ngIf="readonly" (click)="handleEdit()">
        {{ "siteManager.common.modify" | translate }}
      </button>
    </div>
  </form>
</div>
