.search-title {
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #f0f4f8;
  span {
    font-size: 16px;
    color: #354754;
    font-weight: bold;
  }
}
.table {
  margin-top: 30px;
  padding: 0 20px;
  ::ng-deep {
    .ui-table .ui-table-tbody > tr td,
    .ui-table .ui-table-thead tr > th {
      text-align: center;
    }
  }
}
.table .td-rowspan {
  border-right: 1px solid #e8e8e8 !important;
}
a,
button {
  cursor: pointer;
}
