<div class="source-add content-container">
  <div class="header">
    <p class="title">{{ "service.sourceList.add" | translate }}</p>
  </div>
  <div class="body">
    <h2 class="form-header" *ngIf="languageEnable('ZH_TW')">繁体中文</h2>
    <app-source-form-cn
      *ngIf="languageEnable('ZH_TW')"
      [entityType]="entityType"
    ></app-source-form-cn>
    <h2 class="form-header" *ngIf="languageEnable('EN_US')">English</h2>
    <app-source-form-en
      *ngIf="languageEnable('EN_US')"
      [entityType]="entityType"
    ></app-source-form-en>
    <div class="aBtn">
      <button class="blue" (click)="handleSaveClick()">
        {{ "service.common.save" | translate }}
      </button>
      <button class="return" (click)="handleCancelClick()">
        {{ "service.common.cancel" | translate }}
      </button>
    </div>
  </div>
</div>
