:host ::ng-deep {
  .ui-dialog {
    .ui-dialog-titlebar,
    .ui-dialog-content,
    .ui-dialog-footer {
      border: 0;
      background: #ffffff;
    }
    .ui-dialog-footer {
      padding-bottom: 30px;
    }
    .pi-times {
      &::before {
        content: '';
      }
      width: 16px;
      height: 16px;
      cursor: pointer;
      background: url(/assets/images/close-black.png) no-repeat;
      background-position: 0 0;
      &:hover {
        background-position: 0 -16px;
      }
    }
  }
}

.content {
  // min-height: 500px;
  padding: 20px 40px;
  .required {
    &::before {
      content: '*';
      color: #eb4d4d;
    }
  }
  label {
    vertical-align: top;
  }
  textarea {
    width: 300px;
    padding: 3px;
    line-height: 24px;
  }
  .input {
    display: inline-block;
    width: 300px;
  }
  .submit {
    margin-top: 20px;
  }
}
