.search-title {
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #f0f4f8;
  span {
    font-size: 16px;
    color: #354754;
    font-weight: bold;
  }
}
.detail-wrap {
  padding: 20px 20px;
}
.operation {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 4px 15px 20px;
  border: 1px solid #e0e1e8;
  box-shadow: 0 8px 18px 0 rgba(50, 82, 106, 0.10);
  border-top: none;
  border-right: none;
  background: #ffffff;
  a {
    margin-right: 16px;
  }
}
.question {
  position: relative;
  width: 1075px;
  padding: 20px 20px;
  border: 1px solid #d5dce2;
  &:hover {
    .operation {
      display: block;
    }
  }
  h2 {
    font-size: 14px;
    color: #354754;
  }
  .questionDesc {
    margin: 10px 0;
    line-height: 28px;
    text-indent: 2em;
    font-size: 14px;
    color: #9ea6ac;
    letter-spacing: 0.4px;
    word-break: break-word;
  }
  img {
    width: 144px;
    height: 108px;
  }
  .question-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 12px;
    color: #354754;
    .create {
      color: #b1bac2;
      span {
        margin-left: 10px;
      }
    }
  }
}
.detail-list {
  margin-top: 40px;
}
a,
button {
  cursor: pointer;
}
