.tab-menu{
    label{
        float: left;
    }
    ul{
        float: left;
        height: 39px;
        margin: auto;
        border: 1px solid #006fc4;
        border-radius: 5px;
        li{
            float: left;
            position: relative;
            width: 136px;
            height: 37px;
            line-height: 37px;
            text-align: center;
            float: left;
            border-right: 1px solid #006fc4;
            cursor: pointer;
            &:last-child{
                border-right: none;
            }
            &.active{
                background: #006fc4;
                a{
                    color: #fff;
                }
                ol{
                    li{
                        a{
                            color:#2a2e31;
                        }
                        &:hover{
                            a{
                                color: #fff;
                            }
                        }
                    }
                }
            }
            i{
                position: absolute;
                width: 30px;
                height: 30px;
                background: url(/assets/images/sprite.png) center center no-repeat;
                top: 3px;
                right: 4px;
                background-position: -21px -254px;
            }
            ol{
                position: absolute;
                top: 39px;
                left: 0;
                z-index: 9999;
                border:1px solid #006fc4;
                li{
                    border: none;
                    &:hover{
                        background: #006fc4;
                        color: #fff;
                    }
                }
            }
        }
    }
}