<div class="content-container">
  <div class="header">
    <p class="title">{{ "areaManager.serviceManager" | translate }}</p>
    <button
      pButton
      label="{{ 'areaManager.serviceConfigBtn' | translate }}"
      (click)="handleConfigClick()"
    ></button>
  </div>
  <div class="body">
    <div class="bd-search">
      <div class="p-grid search-bd">
        <div class="p-col-4 item">
          <label>{{ "areaManager.service.servceName" | translate }}</label>
          <span class="item-bd">
            <input pInputText name="name" [(ngModel)]="search.serviceName" />
          </span>
        </div>
        <div class="p-col-4 item">
          <label>{{ "areaManager.service.status" | translate }}</label>
          <span class="item-bd">
            <p-dropdown
              name="status"
              [(ngModel)]="search.status"
              [options]="blockStatus"
              [autoDisplayFirst]="false"
              placeholder="{{ 'areaManager.search.all' | translate }}"
            >
              <ng-template let-item pTemplate="selectedItem">
                <span>{{ item.label | translate }}</span>
              </ng-template>
              <ng-template let-item pTemplate="item">
                <span>{{ item.label | translate }}</span>
              </ng-template>
            </p-dropdown>
          </span>
        </div>
        <div class="p-col-4 item item-search">
          <span class="item-bd">
            <button
              pButton
              label="{{ 'areaManager.search.searchBtn' | translate }}"
              (click)="handleSearchClick()"
            ></button>
          </span>
        </div>
      </div>
    </div>
    <div class="table">
      <p-table [value]="blockServiceList">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 8%;">{{ "areaManager.table.no" | translate }}</th>
            <th>{{ "areaManager.table.serviceName" | translate }}</th>
            <th style="width: 15%;">
              {{ "areaManager.table.serviceCode" | translate }}
            </th>
            <th style="width: 23%;">
              {{ "areaManager.table.relevanceType" | translate }}
            </th>
            <th style="width: 18%;">
              {{ "areaManager.table.createTime" | translate }}
            </th>
            <th style="width: 8%;">
              {{ "areaManager.table.status" | translate }}
            </th>
            <th style="width: 15%;">
              {{ "areaManager.table.operation" | translate }}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
          <tr>
            <td>
              {{ (pageInfo.page - 1) * pageInfo.rows + rowIndex + 1 }}
            </td>
            <td>
              {{ rowData.serviceName }}
            </td>
            <td>
              {{ rowData.serviceCode }}
            </td>
            <td>
              {{ rowData.relevanceTypeName }}
            </td>
            <td>
              {{ rowData.createTime | date: "yyyy-MM-dd HH:mm:ss" }}
            </td>
            <td>
              {{ rowData.status | blockStatus | translate }}
            </td>
            <td class="operation">
              <a
                class="detail"
                title="{{
                  'service.nav.serviceRegisterManagerDetail' | translate
                }}"
              ></a>
              <a
                class="enable"
                title="{{ 'common.enable' | translate }}"
                *ngIf="rowData.status == 2"
                (click)="handleEnableClick(rowData, rowIndex)"
              ></a>
              <a
                class="stop"
                title="{{ 'common.freezed' | translate }}"
                *ngIf="rowData.status == 1"
                (click)="handleDisableClick(rowData, rowIndex)"
              ></a>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <app-paging-box
        *ngIf="pageInfo.totalRecords > pageInfo.rows"
        [pagingBoxObj]="pageInfo"
        (OnPageChange)="handlePageChange($event)"
      ></app-paging-box>
      <app-loaing-data [data]="blockServiceList"></app-loaing-data>
    </div>
  </div>
</div>
