.sp-stat-table{
    width: 100%;
    table{
        width: 100%;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #8e8e8e;
        border-right:1px solid #8e8e8e;
        tr{
            th,td{
                width: 50%;
                text-align: center;
                height: 50px;
                line-height: 50px;
                margin:0;
                padding:0;
            }
            th{
                background: #006fc4;
                color: #fff;
                border-right: 1px solid #fff;
                font-size: 16px;
                font-weight: normal;
            }
            td{
                color: #626262;
                border-top: 1px solid #8e8e8e;
                border-left: 1px solid #8e8e8e;
                font-size: 16px;
                font-weight: normal;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}