<div class="page">
  <div class="container">
    <app-header></app-header>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <div class="footer">
      <p class="nav">
        <a
          target="_blank"
          href="http://www.isli-international.org/irap/web/navigation/toContact?selectedLanguage={{
            language
          }}"
          >{{ "footer.nav.contact" | translate }}</a
        ><a
          href="http://www.isli-international.org/?selectedLanguage={{
            language
          }}"
          target="_blank"
          >{{ "footer.nav.usISLIRAOpen" | translate }}</a
        >
        <a target="_blank" href="http://open.isli-international.org/">{{
          "footer.nav.Platform" | translate
        }}</a>
      </p>
      <p>
        {{ "footer.text" | translate }}
      </p>
      <p>Copyright &copy; ISLI RA. All Rights Reserved.</p>
    </div>
  </div>
  <p-toast position="center"></p-toast>
  <div class="fixed" *ngIf="showLoading">
    <div class="center">
      <p-progressSpinner
        [style]="{ width: '50px', height: '50px' }"
        strokeWidth="8"
        animationDuration="2s"
      >
      </p-progressSpinner>
    </div>
  </div>
</div>
