 .form {
     // padding-top: 20px;
     // padding: 0 0;

     dl,
     dt,
     dd {}

     dl {
         width: 100%;
         padding-bottom: 12px;

         dt {
             width: 175px;
             text-align: right;
             line-height: 32px;
             font-family: SourceHanSansSC-Regular;
             font-size: 14px;
             color: #170024;

             span {
                 color: #FF3636;
                 margin-right: 5px;
             }
         }

         dd {
             position: relative;
             width: calc(100% - 175px);

             input,
             textarea {
                 width: 450px;
                 border: 1px solid #D5DCE2;
                 font-family: SourceHanSansSC-Regular;
                 font-size: 14px;
                 color: #354754;
             }

             input {
                 height: 32px;
                 line-height: 32px;
                 padding: 0 10px;
             }

             textarea {
                 height: 186px;
                 line-height: 24px;
                 padding: 10px;
                 resize: none;
             }

             &.textarea {
                 ::ng-deep {
                     .error {
                         top: 75px;
                     }
                 }
             }

             &.file-box {
                 min-height: 165px;

                 //  .file-list {
                 //      width: 570px;
                 //      height: 100px;
                 //      overflow: auto;
                 //      border: 1px solid #D5DCE2;
                 //      padding: 10px;

                 //      .item {
                 //          line-height: 22px;
                 //          height: 32px;
                 //          padding-bottom: 10px;
                 //      }

                 //      i,
                 //      span {
                 //          margin-right: 5px;
                 //          display: inline-block;
                 //      }

                 //      i {
                 //          width: 24px;
                 //          height: 22px;
                 //          background: url(/assets/images/affixGray.png) left center no-repeat;
                 //      }

                 //      span {
                 //          max-width: 460px;
                 //          overflow: hidden;
                 //          white-space: nowrap;
                 //          text-overflow: ellipsis;
                 //          font-family: SourceHanSansSC-Regular;
                 //          font-size: 14px;
                 //          color: #354754;
                 //      }

                 //      button {
                 //          background: url(/assets/images/deleteGray.png) left center no-repeat;
                 //          height: 22px;
                 //          width: 30px;
                 //          vertical-align: baseline;
                 //          border: 0;
                 //          display: inline-block;
                 //      }
                 //  }

                 //  label {
                 //      width: 120px;
                 //      height: 32px;
                 //      line-height: 32px;
                 //      text-align: center;
                 //      background: #007BD8;
                 //      border-radius: 4px;
                 //      font-family: SourceHanSansSC-Regular;
                 //      font-size: 14px;
                 //      color: #FFFFFF;
                 //      display: inline-block;
                 //      margin-top: 10px;
                 //      cursor: pointer;
                 //  }

                 //  .tips {
                 //      font-family: SourceHanSansSC-Regular;
                 //      font-size: 12px;
                 //      color: #9EA6AC;
                 //      display: inline-block;
                 //      margin-left: 10px;
                 //  }

                 //  .errors {
                 //      font-family: SourceHanSansSC-Regular;
                 //      font-size: 12px;
                 //      color: #EB4D4D;
                 //      line-height: 18px;
                 //  }

                 //  ::ng-deep {
                 //      .error {
                 //          position: absolute;
                 //          left: 0;
                 //          top: 147px;

                 //          p {

                 //              line-height: 18px;
                 //          }
                 //      }
                 //  }
             }



             ::ng-deep {
                 .error {
                     position: absolute;
                     left: 460px;
                     top: 0;

                     p {
                         font-family: SourceHanSansSC-Regular;
                         font-size: 12px;
                         color: #EB4D4D;
                         line-height: 32px;
                     }
                 }
             }
         }
     }
 }