<div class="form clearfix">
  <form [isliFormValidMsg]="errorMsg">
    <dl>
      <dt><span>*</span>Title：</dt>
      <dd>
        <input
          required
          type="text"
          name="tidingsTheme"
          class="tidingsTheme"
          [(ngModel)]="info.tidingsTheme"
          pInputText
          maxlength="100"
        />
        <mpr-form-control-valid
          controlName="tidingsTheme"
        ></mpr-form-control-valid>
      </dd>
    </dl>
    <dl>
      <dt><span>*</span>Content：</dt>
      <dd class="textarea">
        <textarea
          required
          type="text"
          name="content"
          class="content"
          maxlength="2000"
          [(ngModel)]="info.content"
        ></textarea>
        <mpr-form-control-valid controlName="content"></mpr-form-control-valid>
      </dd>
    </dl>
    <dl>
      <dt>Text link name：</dt>
      <dd>
        <input
          type="text"
          name="textLinkName"
          class="textLinkName"
          [(ngModel)]="info.textLinkName"
          maxlength="20"
          pInputText
        />
      </dd>
    </dl>
    <dl>
      <dt>Text link URL：</dt>
      <dd>
        <input
          type="text"
          name="linkUrl"
          class="linkUrl"
          [(ngModel)]="info.linkUrl"
          pInputText
          pattern="^((https?)://)?[-A-Za-z0-9+&@#/%?=~_|!:,.;]+[-A-Za-z0-9+&@#/%=~_|]"
        />
        <mpr-form-control-valid controlName="linkUrl"></mpr-form-control-valid>
      </dd>
    </dl>
    <dl>
      <dt>English annex：</dt>
      <dd class="file-box">
        <app-upload-affix
          name="fileList"
          class="fileList"
          [(ngModel)]="info.fileList"
          [fileTypeError]="fileTypeError"
          [fileSizeError]="fileSizeError"
          [fileuploadError]="fileuploadError"
          [langCode]="langCode"
          [buttonText]="buttonText"
          [fileTips]="fileTips"
          [xfileId]="'xfileId_en'"
        >
        </app-upload-affix>
      </dd>
    </dl>
  </form>
</div>
