<p-calendar [ngModel]="value" 
            (ngModelChange)="changValue($event)" 
            [defaultDate]="calendarObj.defaultDate"
            [placeholder]="calendarObj.placeholder" 
            [disabled]="calendarObj.disabled" 
            [dateFormat]="calendarObj.dateFormat"
            [minDate]="calendarObj.minDate" 
            [maxDate]="calendarObj.maxDate" 
            [showTime]="calendarObj.showTime"
            [showSeconds]="calendarObj.showSeconds" 
            [locale]="calendarData" 
            [yearRange]="'1970:' + currentYear"
            [showOtherMonths]="calendarObj.showOtherMonths" 
            [monthNavigator]="calendarObj.monthNavigator"
            [dataType]="calendarObj.dataType" 
            [showIcon]="false" 
            [readonlyInput]="calendarObj.readonly"
            [showButtonBar]="calendarObj.showButtonBar" 
            [selectOtherMonths]="true"
            [yearNavigator]="calendarObj.yearNavigator" 
            [style]="calendarObj.style"
            [view]="calendarObj.view"
            (onBlur)="onInputBlur($event)"
  ></p-calendar>
