.body {
  text-align: center;
  .body-warp {
    padding-top: 50px;
    display: inline-block;
    text-align: right;
    .item {
      min-height: 38px;
    }
    .title {
      padding-right: 10px;
      min-width: 100px;
      text-align: right;
      display: inline-block;
      font-size: 14px;
      color: #9ea6ac;
      vertical-align: middle;
      &.required::before {
        content: "*";
        color: #eb4d4d;
      }
    }
    .content {
      text-align: left;
      vertical-align: middle;
      font-size: 14px;
      color: #354754;
      width: 600px;
      display: inline-block;
      .upload-warp {
        display: inline-block;
        width: 150px;
        height: 150px;
      }
      ::ng-deep {
        .ui-inputtext {
          width: 20%;
        }
      }
      .tip {
        padding-left: 20px;
      }
    }
    .submit {
      margin-top: 40px;
    }
  }
}
